<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="in.hocg.rabbit.ums.biz.mapper.UserGroupAuthorityRefMapper">
  <select id="pagingUser" resultType="in.hocg.rabbit.ums.biz.entity.User">
    SELECT DISTINCT uu.*
    FROM ums_user uu
           LEFT JOIN ams_user_group_user_ref augur ON uu.id = augur.user_id
    <where>
      <if test="ro.userGroupId != null">
        AND augur.user_group_id = #{ro.userGroupId}
      </if>
      <if test="ro.keyword != null">
        <bind name="keyword" value="'%' + ro.keyword + '%'"/>
        AND (uu.username LIKE #{keyword}
          OR uu.phone LIKE #{keyword}
          OR uu.email LIKE #{keyword}
          OR uu.nickname LIKE #{keyword})
      </if>
    </where>
  </select>
</mapper>
