<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="in.hocg.rabbit.ums.biz.mapper.UserAddressMapper">
  <select id="getDefaultByUserId" resultType="in.hocg.rabbit.ums.biz.entity.UserAddress">
    SELECT uaa.*
    FROM ums_user_address uaa
    WHERE uaa.user_id = #{userId}
      AND uaa.default_flag = 1
    LIMIT 1
  </select>
</mapper>
