<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="in.hocg.rabbit.com.biz.mapper.MessageUserRefMapper">
  <select id="paging" resultType="in.hocg.rabbit.com.biz.entity.MessageUserRef">
    SELECT mmur.*
    FROM mms_message_user_ref mmur
    <where>
      <if test="ro.messageType != null">
        AND mmur.message_type = #{ro.messageType}
      </if>
      <if test="ro.receiverUser != null">
        AND mmur.receiver_user = #{ro.receiverUser}
      </if>
    </where>
    ORDER BY mmur.created_at desc
  </select>

  <select id="scroll" resultType="in.hocg.rabbit.com.biz.entity.MessageUserRef">
    SELECT mmur.*
    FROM mms_message_user_ref mmur
    <where>
      <if test="ro.messageType != null">
        AND mmur.message_type = #{ro.messageType}
      </if>
      <if test="ro.receiverUser != null">
        AND mmur.receiver_user = #{ro.receiverUser}
      </if>
      <if test="ro.nextId != null">
        AND mmur.id > #{ro.nextId}
      </if>
    </where>
    ORDER BY mmur.created_at desc
  </select>

  <select id="scrollBySender" resultType="in.hocg.rabbit.com.biz.pojo.vo.message.ScrollBySenderVo">
    SELECT MAX(mmur.id) AS nextId,
           mmur.creator AS userId
    FROM mms_message_user_ref mmur
    <where>
      <if test="ro.messageType != null">
        AND mmur.message_type = #{ro.messageType}
      </if>
      <if test="ro.receiverUser != null">
        AND mmur.receiver_user = #{ro.receiverUser}
      </if>
      <if test="ro.nextId != null">
        AND mmur.creator NOT IN (SELECT creator FROM mms_message_user_ref WHERE id >= #{ro.nextId})
      </if>
    </where>
    group by mmur.creator
    order by MAX(id) desc
  </select>
</mapper>
