<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.lotus.mina.biz.mapper.GameCardMapper">
  <select id="paging" resultType="com.github.lotus.mina.biz.entity.GameCard">
    SELECT mgc.*
    FROM mina_game_card mgc
    <where>
      <if test="ro.keyword != null">
        <bind name="keyword" value="'%' + ro.keyword + '%'"/>
        AND (mgc.remark LIKE #{keyword} OR mgc.title LIKE #{keyword} OR mgc.tags LIKE #{keyword})
      </if>
      <if test="ro.enabled != null ">
        AND mgc.enabled = #{ro.enabled}
      </if>
    </where>
    ORDER BY mgc.sort DESC, mgc.created_at DESC
  </select>
</mapper>
