<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.lotus.pay.biz.mapper.PayRecordMapper">
  <select id="paging" resultType="com.github.lotus.pay.biz.entity.PayRecord">
    SELECT bpr.*
    FROM bmw_pay_record bpr
    <where>
      bpr.trade_id = #{tradeId}
    </where>
  </select>
</mapper>
