<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.lotus.ums.biz.mapper.RoleMapper">
  <select id="paging" resultType="com.github.lotus.ums.biz.entity.Role">
    SELECT ar.*
    FROM ams_role ar
    <where>
      <if test="ro.keyword != null">
        <bind name="keyword" value="'%' + ro.keyword + '%'"/>
        AND (ar.title LIKE #{keyword})
      </if>
    </where>
  </select>

  <select id="complete" resultType="com.github.lotus.ums.biz.entity.Role">
    SELECT ar.*
    FROM ams_role ar
    <where>
      <if test="ro.keyword != null">
        <bind name="keyword" value="'%' + ro.keyword + '%'"/>
        AND (ar.remark LIKE #{keyword} OR ar.title LIKE #{keyword} OR ar.encoding LIKE #{keyword})
      </if>
    </where>
  </select>
</mapper>
