<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="in.hocg.rabbit.mall.biz.mapper.UserCouponMapper">
  <select id="paging" resultType="in.hocg.rabbit.mall.biz.entity.UserCoupon">
    SELECT muc.*
    FROM mkt_user_coupon muc
    <where>
      AND muc.deleted_at IS NULL
      <if test="ro.ownerUserId != null">
        AND muc.owner_user_id = #{ro.ownerUserId}
      </if>
    </where>
    ORDER BY muc.created_at DESC
  </select>
</mapper>
