<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="in.hocg.rabbit.mina.biz.mapper.GameRoomMapper">

    <select id="paging" resultType="in.hocg.rabbit.mina.biz.entity.GameRoom">
      SELECT mgr.* FROM mina_game_room mgr
      <where>
        <if test="ro.keyword != null">
          <bind name="keyword" value="'%' + ro.keyword + '%'"/>
          AND (mgr.title LIKE #{keyword} AND mgr.encoding LIKE #{keyword})
        </if>
      </where>
      ORDER BY mgr.created_at desc
    </select>
</mapper>
