<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="in.hocg.rabbit.mina.biz.mapper.RechargeOrderMapper">
  <select id="paging" resultType="in.hocg.rabbit.mina.biz.entity.RechargeOrder">
    SELECT mro.*
    FROM mina_recharge_order mro
    <where>
      AND mro.creator = #{ro.opsUserId}
      <if test="ro.keyword != null">
        <bind name="keyword" value="'%' + ro.keyword + '%'"/>
        AND (mro.order_no LIKE #{keyword}
          OR mro.product_name LIKE #{keyword}
          OR mro.product_id LIKE #{keyword}
          OR mro.account LIKE #{keyword}
          OR mro.out_order_no LIKE #{keyword}
          OR mro.total_amt LIKE #{keyword}
          OR mro.fail_reason LIKE #{keyword}
        )
      </if>
    </where>
  </select>
</mapper>
