<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.lotus.mall.biz.mapper.UserCouponMapper">
  <select id="paging" resultType="com.github.lotus.mall.biz.entity.UserCoupon">
    SELECT muc.*
    FROM mkt_user_coupon muc
    <where>
      <if test="ro.userId != null">
        AND muc.user_id = #{ro.userId}
      </if>
    </where>
    ORDER BY muc.created_at DESC
  </select>
</mapper>
